.show-products {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
    gap: 2rem;

    .card {
        position: relative;
        border: solid var(--text-color);
        border-radius: 20px;

        .ad-type {
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            font-size: 17px;
            font-weight: bold;
            padding: 0.5em 1.5em;
            margin: 0;
            border-radius: 40px;
        }

        .ad-type.sell {
            border: solid #00C2A8;
            background-color: #00C2A8;
        }

        .ad-type.buy {
            border: solid #FFE275;
            background-color: #FFE275;
        }

        .ad-info {
            padding: 1rem;
            max-width: 100%;

            .ad-price {
                font-size: 20px;
                font-weight: bold;
                margin: 0;
                margin-bottom: 0.5em;
            }

            .ad-name {
                font-size: 20px;
                margin: 0;
                margin-bottom: 0.5em;
            }

            .ad-desc {
                margin: 0;
                margin-bottom: 0.5em;
            }
        }

        .img-container {
            aspect-ratio: 1 / 1;
            width: 100%;
            overflow: hidden;
            border-bottom: solid var(--text-color);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }
}

@media screen and (width > 768px) {
    .show-products {
        grid-template-columns: repeat(4, 1fr);

        .card {
            height: 100%;
        }
    }
}