.header {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    .logo {
        width: 40%;
        height: auto;
    }

    .nav {

        /* Hide chackbox */
        #menu-btn {
            display: none;
        }

        /* Hamburguer menu design */
        .burguer-btn {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .burguer-btn span {
            width: 30px;
            height: 4px;
            background: var(--main-text-color);
            border-radius: 2px;
        }

        /* Session menu hides by default when using mobile */
        .session {
            opacity: 0;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 99%;
            margin: 0;
            background: var(--secondary-color);
            width: 50vw;
            padding: 10px;
            border-bottom-left-radius: 4px;
            transform: translateY(-10px);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            pointer-events: none;
            list-style-type: none;
        }

        .nav-btn {
            color: var(--text-color);
            text-decoration: none;
            font-size: 18px;
        }

        #menu-btn:checked+.burguer-btn+.session {
            display: flex;
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto
        }
    }
}

@media screen and (width > 768px) {
    .header {
        .nav {
            .burguer-btn {
                display: none;
            }

            .session {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                position: static;
                background: none;
                width: auto;
                opacity: 1;
                pointer-events: auto;
                transform: none;
                padding: 0;

                li {
                    list-style: none;
                    margin: 0 15px;
                    transition: background-color 1s;
                    padding: 10px;
                    border-radius: 10px;

                    a {
                        transition: color 0.3s;
                    }
                }
            }
        }
    }
}

@media screen and (hover: hover) {
    .header .nav .session li:hover {
        background-color: var(--main-color);

        a {
            color: var(--secondary-text-color);
        }

    }
}