.register {

    .form {
        .register-element {

            .password-confirm-element {
                padding: 0;
            }

            #password-confirm {
                height: 67%;
                width: 70%;
            }
        }
    }
}